//
   Created by AlWilliam on 3/5/2016.
extends layout
block body
  include navbar
  .intro
    .container
      .col-lg-8.col-lg-offset-2
        p #{lang.landing.valueprop}
        .row
          .col-lg-6
            .input-group.input-group-lg.landing-button-adjustment
              input.form-control#lobbycode(type="text" placeholder=lang.landing.lobbycode title=lang.landing.lobbycode ng-model="main.lobbycode")
              span.input-group-btn
                a.btn.btn-lg#joinlobby(ng-href="{{'/game/' + main.lobbycode}}") #{lang.landing.join}
        .row
          .col-lg-6#createLobby
            a.btn.btn-lg.btn-block.landing-button-adjustment(href="/game/") #{lang.landing.createlobby}
        .row
          .col-lg-6
            p #{lang.landing.users}
              span#users {{ main.usercount }}
            p #{lang.landing.games}
              span#games {{ main.gamecount }}
  footer
    .container
      p
        | #{lang.landing.authors} 
        a(data-toggle="tooltip" data-placement="top" title=lang.landing.aboutauthors) (?)
        br
        //| Pointless links | map | some facebook page | some random ID card thing
append scripts
  script(src="/js/landing.js")
