//
   Created by AlWilliam on 3/5/2016.
extends layout
block vars
  - var controller = "CCLanding as landing";
block body
  .intro
    .container
      .col-lg-12
        p #{lang.landing.valueprop}
        .row
          .col-lg-6
            .input-group.input-group-lg
              input.form-control#lobbycode(type="text" placeholder=lang.landing.lobbycode)
              span.input-group-btn
                a.btn.btn-lg#joinlobby(href="/game") #{lang.landing.join}
          .col-lg-6#createLobby
            .btn.btn-lg.btn-block(href="/game/new") #{lang.landing.createlobby}
        .row
          .col-lg-6
            p #{lang.landing.users}
              span#users
            p #{lang.landing.games}
              span#games
append scripts
  script(src="/js/landing.js")
