//
   Created by AlWilliam on 3/5/2016.
extends layout

block body
  .navbar
    .container
      .col-lg-12
        .navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
            span.sr-only #{lang.nav.togglenavigation}
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Card Czar
        .collapse.navbar-collapse#navbar-collapse
          ul.nav.navbar-nav.navbar-right(ng-cloak ng-show="main.loaded")
            li
              p.navbar-text(ng-show="main.user.id") Logged in as #{lang.nav.loggedinas}
                span#user {{main.user.name}}
            li
              a.btn.navbar-btn.invert(ng-show="main.user.id" href="/auth/logout") #{lang.nav.logout}
            li
              a.btn.navbar-btn.invert(ng-hide="main.user.id" href="/auth") #{lang.nav.login}
              
  .container
    .login
      .col-lg-6.col-lg-offset-3
        h1 #{lang.login.login}
        a.btn.btn-lg.btn-block(href="/auth/facebook?returnTo=" + encodeURIComponent(req.query.returnTo)) Facebook
        a.btn.btn-lg.btn-block(href="/auth/google?returnTo=" + encodeURIComponent(req.query.returnTo)) Google
        a.btn.btn-lg.btn-block(disabled) Twitter
        a.btn.btn-lg.btn-block(disabled) #{lang.login.banklink}
        a.btn.btn-lg.btn-block(disabled) #{lang.login.mobileid}
      
  footer
    .container
      p
        | #{lang.landing.authors}
        br
        //| Pointless links | map | some facebook page | some random ID card thing
